body {
  font-family: Helvetica;
  text-align: center;
}
button {
  cursor: pointer;
}
ul {
 display: flex;
 flex-wrap: wrap;
}
ul li {
 width: 9.5%;
 padding-bottom: 5px;
 list-style-type: none;
 position: relative;
 margin-right: .5%;
 }
 ul li img {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   transition: all .15s linear; 
   cursor: pointer;
   object-fit: cover;
 }
 ul li img:hover {
   transform: scale(1.3);
 }

 @media screen and (max-width: 768px) {
  ul li {
    width: 19%;
  }

 }
 @media screen and (max-width: 375px) {
  ul li {
    width: 32%;
  }
ul li:nth-child(n+10) {
  display: none;
}
 }